<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <meta name="apple-mobile-web-app-capable" content="yes">
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet/less" type="text/css" href="../../ContentWeb/css/public.less"/>
		<script src="../../ContentWeb/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../ContentWeb/js/less.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--顶部导航 start-->
		<div class="header">
			<div class="headTop">
				<div class="headTle">
					<p>服務熱綫：（853）2884-8181</p>
				</div>
				<div class="headLogo">
					<p><img src="../../ContentWeb/images/indexLogo.jpg"/></p>
				</div>
				<div class="headSearch">
					<p><input type="search" name="searchs" id="searchs" placeholder="您需要什麽服務？" value="" /><i class="iconfont">&#xe603;</i></p>
				</div>
			</div>
			<div class="headNav">
				<ul>
					<li><a href="../ArticleContent/about.html">關於我們</a></li>
					<li><a href="../ArticleContent/product.html">產品服務</a></li>
					<li><a href="../ArticleContent/seafood.html">參茸海味</a></li>
					<li><a href="../ArticleContent/member.html">成爲會員</a></li>
					<li><a href="../ArticleContent/purchase.html">如何購買</a></li>
					<li><a href="../ArticleContent/news.html">企業動態</a></li>
					<li><a href="../ArticleContent/recruit.html">招聘信息</a></li>
					<li><a href="../ArticleContent/contact.html">聯係我們</a></li>
				</ul>
			</div>
		</div>
		<!--顶部导航 end-->
	</body>
</html>
